In [1]:
import pandas as pd
pd.set_option("display.max_columns",None)  ## To fetch all the attributes
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
import plotly.express as px  ##For dynamic visualisation

#Natural Language processing 
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from wordcloud import WordCloud

In [2]:
df = pd.read_csv("reviews-airbnb-can.csv")

In [3]:
## REMOVING ( - ) FROM THE COMMENTS , THESE ARE BLANK COMMENTS AND ISNULL IS TAKING ONLY N/A OR n/a
df=df[~(df['comments']=='-')]

In [4]:
## REMOVING ( . ) FROM THE COMMENTS , THESE ARE BLANK COMMENTS AND ISNULL IS TAKING ONLY N/A OR n/a

df=df[~(df['comments']=='.')]

In [5]:
## REMOVING ( 'N/a' ) FROM THE COMMENTS , THEESE ARE BLANK COMMENTS AND ISNULL IS TAKING ONLY N/A OR n/a

df=df[~(df['comments']=='N/a')]
df.dropna(inplace=True)

In [6]:
# CHECKING NULL VALUES
df.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [7]:
# REMOVING NULL VALUES

df.dropna(inplace=True)

In [8]:
df.shape

(400313, 6)

In [9]:
df.comments.head()

0    Having the opportunity of arriving to Alexandr...
1    We have no enough words to describe how beauty...
2    The listing was exceptional and an even better...
3    Alexandra's home was amazing and in such a nea...
4    Beautiful home. Very comfortable and clean. Pe...
Name: comments, dtype: object

In [10]:
print("Before CONTRACTION")
df.comments.values[9]  ##To check the full content of the comment

Before CONTRACTION

"We really enjoyed staying at Kathie and Larry's place. Can't beat that skyline view for this price. The room was nice and clean. Having a second bathroom was also nice.\r<br/>\r<br/>Plenty of privacy as advertised if that's your thing.\r<br/>\r<br/>Thank you Kathie & Larry :)"

In [12]:
#!pip install contractions

In [11]:
import contractions

In [12]:
# CONTRACTION CODE
#for i in range(0,len(df)):
    #text = str(df.comments.loc[i])
    #expanded_words = []   
    #for word in text.split():

        #expanded_words.append(contractions.fix(word))  
     
    #expanded_text = ' '.join(expanded_words)
    #print(expanded_text)
    #df.comments.loc[i]=expanded_text

In [13]:
print("After CONTRACTION")

df.comments[9]

After CONTRACTION

"We really enjoyed staying at Kathie and Larry's place. Can't beat that skyline view for this price. The room was nice and clean. Having a second bathroom was also nice.\r<br/>\r<br/>Plenty of privacy as advertised if that's your thing.\r<br/>\r<br/>Thank you Kathie & Larry :)"

In [14]:
## EXPORTING THE CONTRACTIONS TO CHANGED FILE FOR FURTHER USEE
#df.to_csv("finalaftercontraction.csv")

In [15]:
## importing the contracted file for cleaning
df1=pd.read_csv("finalaftercontraction.csv")

In [16]:
df1.shape

(400313, 7)

In [18]:
df1

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,1419,38924112,2015-07-19,11308465,Marcela,Having the opportunity of arriving to Alexandr...
1,1,1419,44791978,2015-08-29,9580285,Marco,We have no enough words to describe how beauty...
2,2,1419,45957133,2015-09-07,38394721,Andrea,The listing was exceptional and an even better...
3,3,1419,67295154,2016-03-28,3515044,Shaun,Alexandra's home was amazing and in such a nea...
4,4,1419,177702208,2017-08-03,13987100,Kate,Beautiful home. Very comfortable and clean. Pe...
...,...,...,...,...,...,...,...
400308,400881,571781370061575504,576805871456393571,2022-03-06,445228769,Olivia,Very beautiful property. Clean and very spacious.
400309,400882,571843051378047046,575369353865482208,2022-03-04,189379488,Hassan,Amazing host and great place
400310,400883,572314967237702332,574583975401671156,2022-03-03,435568865,Michael,"great value , easy in and out, very clean ."
400311,400884,572391455274417878,576776957966397983,2022-03-06,430443426,Mehdi,I stayed there for just one night because of a...
400312,400885,574489717491141448,576795534411547762,2022-03-06,372285502,Trevor,Great stay and a nice guy!